

.container  {
    display: flex;
    align-items: center;
}


.nav-icon {
    width: 30px;
    height: 25px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.nav-icon__middle, .nav-icon__middle::after, .nav-icon__middle::before {
    width: 30px;
    height: 5px;
}

.nav-icon__middle {
    
    background-color: #ce1b1b;
    position: relative; 

    &::before {
    content: "";
    display: block;

    position: absolute;
    top: -10px;
    left: 0;

    background-color: #ce1b1b;

    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }

    &::after {
    content: "";
    display: block;

    position: absolute;
    top: 10px;
    left: 0;

    background-color: #ce1b1b;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
}

    

/*active state */
.nav-icon.nav-icon--active .nav-icon__middle {
    background-color: transparent;

    &::before, &::after {
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
        top: 0;
        background-color: #dfd118;
    }

    &::before {
    transform: rotate(45deg);
    }

    &::after {
    transform: rotate(-45deg);
    }

}


.square-wrapper {
    margin-right: 30px;
}

.square, .rotated, .circle {
    width: 30px;
    height: 30px;
}

.square {
    background-color: #37c91a;
    
    transition: .2s ease-in;
}

.rotated {
    background-color: #0b6fe2;
    transform: rotate(+90deg);
}

.circle {
    border-radius: 50%;
    background-color: rgb(218, 132, 20);
    transition: .2s ease-in;
}

.shrinked {
    background-color: rgb(170, 32, 159);
    transform: scale(0.5);
}

